# Import and Loading

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [2]:
df_info = pd.read_csv('/Users/sheelvohra/Downloads/superhero_info - superhero_info.csv')
df_power = pd.read_csv('/Users/sheelvohra/Downloads/superhero_powers - superhero_powers.csv')

In [3]:
df_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [4]:
# check for null values and data types
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

 no null values

In [5]:
# check for null valuse and data types 
df_power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [6]:
df_power.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

# Clean Data

In [7]:
# create hero publisher column 
df_info[['Name','Publisher']] = df_info['Hero|Publisher'].str.split('|', expand=True)

In [8]:
# drop OG column 
df_info = df_info.drop(columns = ['Hero|Publisher'])

In [9]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gender        463 non-null    object
 1   Race          463 non-null    object
 2   Alignment     463 non-null    object
 3   Hair color    463 non-null    object
 4   Eye color     463 non-null    object
 5   Skin color    463 non-null    object
 6   Measurements  463 non-null    object
 7   Name          463 non-null    object
 8   Publisher     463 non-null    object
dtypes: object(9)
memory usage: 32.7+ KB

In [10]:
first_column = df_info.pop('Name')

In [11]:
# Insert Name column as the first column
df_info.insert(0, 'Name', first_column)

In [12]:
df_info.head()

,Name,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Publisher
0,A-Bomb,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Marvel Comics
1,Abe Sapien,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Dark Horse Comics
2,Abin Sur,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",DC Comics
3,Abomination,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Marvel Comics
4,Absorbing Man,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Marvel Comics

In [13]:
# Create a sample value
test_measure = df_info.loc[0, 'Measurements']

In [14]:
# Display the sample value's datatype and the sample value
print(type(test_measure))
test_measure

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [15]:
# fix '' into ""
test_measure = test_measure.replace("'",'"')
test_measure

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [16]:
# Convert string to dictionary
test_measure = json.loads(test_measure)
print(type(test_measure))
test_measure

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [17]:
# replace all single quotes
df_info['Measurements'] = df_info['Measurements'].str.replace("'",'"')
df_info['Measurements'] = df_info['Measurements'].apply(json.loads)
df_info['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [18]:
# Check a sample value after transformation
test_measure = df_info.loc[0, 'Measurements']
print(type(test_measure))
test_measure

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [19]:
# Unpack height_weight into a pandas series
height_weight = df_info['Measurements'].apply(pd.Series)
# Display the  series
height_weight.head()

     Height    Weight
0  203.0 cm  441.0 kg
1  191.0 cm   65.0 kg
2  185.0 cm   90.0 kg
3  203.0 cm  441.0 kg
4  193.0 cm  122.0 kg

In [20]:
# Concat Height and Weight
df_info = pd.concat((df_info, height_weight), axis = 1)

In [21]:
df_info.head()

,Name,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Publisher,Height,Weight
0,A-Bomb,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Marvel Comics,203.0 cm,441.0 kg
1,Abe Sapien,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Dark Horse Comics,191.0 cm,65.0 kg
2,Abin Sur,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",DC Comics,185.0 cm,90.0 kg
3,Abomination,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Marvel Comics,203.0 cm,441.0 kg
4,Absorbing Man,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Marvel Comics,193.0 cm,122.0 kg

In [22]:
# drop transformed column
df_info = df_info.drop(columns=['Measurements'])

In [23]:
# Remove spaces and unit of measures
to_replace = [' ', 'cm']
for char in to_replace:
    df_info['Height'] = df_info['Height'].str.replace(char, '', regex=False)

In [24]:
# Convert Height column to int datatype
df_info["Height"] =pd.to_numeric(df_info["Height"]).astype(int)

In [25]:
df_info["Height"].dtype

dtype('int64')

In [26]:
# Remove spaces and unit of measures
to_replace = [' ', 'kg']
for char in to_replace:
    df_info['Weight'] = df_info['Weight'].str.replace(char, '', regex=False)

In [27]:
# Check Weight and Height 
df_info.head()

,Name,Gender,Race,Alignment,Hair color,Eye color,Skin color,Publisher,Height,Weight
0,A-Bomb,Male,Human,good,No Hair,yellow,Unknown,Marvel Comics,203,441.0
1,Abe Sapien,Male,Icthyo Sapien,good,No Hair,blue,blue,Dark Horse Comics,191,65.0
2,Abin Sur,Male,Ungaran,good,No Hair,blue,red,DC Comics,185,90.0
3,Abomination,Male,Human / Radiation,bad,No Hair,green,Unknown,Marvel Comics,203,441.0
4,Absorbing Man,Male,Human,bad,No Hair,blue,Unknown,Marvel Comics,193,122.0

In [28]:
df_info["Weight"] =pd.to_numeric(df_info["Weight"]).astype(int)
df_info["Weight"].dtype

dtype('int64')

# Superhero Powers

In [29]:
# Rename column to align with df_1 column name
df_power = df_power.rename(columns = {"hero_names": "Name"})
df_power.head()

          Name                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [30]:
# Display a sample of Powers
df_power.loc[0,'Powers']

'Agility,Super Strength,Stamina,Super Speed'

In [31]:
# create power series 
new_powers = df_power["Powers"].str.split(",")

In [32]:
new_powers

0        [Agility, Super Strength, Stamina, Super Speed]
1      [Accelerated Healing, Durability, Longevity, S...
2      [Agility, Accelerated Healing, Cold Resistance...
3                                   [Lantern Power Ring]
4      [Accelerated Healing, Intelligence, Super Stre...
                             ...
662               [Flight, Energy Blasts, Size Changing]
663    [Cold Resistance, Durability, Longevity, Super...
664    [Agility, Stealth, Danger Sense, Marksmanship,...
665    [Cryokinesis, Telepathy, Magic, Fire Control, ...
666    [Super Speed, Intangibility, Time Travel, Time...
Name: Powers, Length: 667, dtype: object

In [33]:
# Explode the series into seperate instances
new_powers.explode("Powers")

0                   Agility
1            Super Strength
2                   Stamina
3               Super Speed
4       Accelerated Healing
               ...
5869        Weather Control
5870            Super Speed
5871          Intangibility
5872            Time Travel
5873      Time Manipulation
Name: Powers, Length: 5874, dtype: object

In [34]:
# create and display array of new columns 
cols_to_make = new_powers.explode("Powers").dropna().sort_values().unique()
cols_to_make

array(['Accelerated Healing', 'Adaptation', 'Agility',
       'Animal Attributes', 'Animal Control', 'Animal Oriented Powers',
       'Animation', 'Anti-Gravity', 'Astral Projection', 'Astral Travel',
       'Audio Control', 'Banish', 'Biokinesis', 'Camouflage',
       'Changing Armor', 'Clairvoyance', 'Cloaking', 'Cold Resistance',
       'Cryokinesis', 'Danger Sense', 'Darkforce Manipulation',
       'Death Touch', 'Density Control', 'Dexterity',
       'Dimensional Awareness', 'Dimensional Travel', 'Duplication',
       'Durability', 'Echolocation', 'Elasticity', 'Electrical Transport',
       'Electrokinesis', 'Element Control',
       'Elemental Transmogrification', 'Empathy', 'Energy Absorption',
       'Energy Armor', 'Energy Beams', 'Energy Blasts',
       'Energy Constructs', 'Energy Manipulation', 'Energy Resistance',
       'Enhanced Hearing', 'Enhanced Memory', 'Enhanced Senses',
       'Enhanced Sight', 'Enhanced Smell', 'Enhanced Touch',
       'Fire Control', 'Fire Resistance', 'Flight', 'Force Fields',
       'Gliding', 'Gravity Control', 'Grim Reaping', 'Hair Manipulation',
       'Heat Generation', 'Heat Resistance', 'Hyperkinesis',
       'Hypnokinesis', 'Illumination', 'Illusions', 'Immortality',
       'Insanity', 'Intangibility', 'Intelligence', 'Intuitive aptitude',
       'Invisibility', 'Invulnerability', 'Jump', 'Lantern Power Ring',
       'Levitation', 'Light Control', 'Longevity', 'Magic',
       'Magic Resistance', 'Magnetism', 'Marksmanship',
       'Matter Absorption', 'Melting', 'Mind Blast', 'Mind Control',
       'Mind Control Resistance', 'Molecular Combustion',
       'Molecular Dissipation', 'Molecular Manipulation', 'Natural Armor',
       'Natural Weapons', 'Nova Force', 'Odin Force', 'Omnilingualism',
       'Omnipotent', 'Omnipresent', 'Omniscient', 'Omnitrix',
       'Peak Human Condition', 'Phasing', 'Phoenix Force',
       'Photographic Reflexes', 'Plant Control', 'Portal Creation',
       'Possession', 'Power Absorption', 'Power Augmentation',
       'Power Cosmic', 'Power Nullifier', 'Power Sense', 'Power Suit',
       'Precognition', 'Probability Manipulation', 'Projection',
       'Psionic Powers', 'Qwardian Power Ring', 'Radar Sense',
       'Radiation Absorption', 'Radiation Control', 'Radiation Immunity',
       'Reality Warping', 'Reflexes', 'Regeneration', 'Resurrection',
       'Seismic Power', 'Self-Sustenance', 'Shapeshifting',
       'Size Changing', 'Sonar', 'Sonic Scream', 'Spatial Awareness',
       'Speed Force', 'Stamina', 'Stealth', 'Sub-Mariner',
       'Substance Secretion', 'Summoning', 'Super Breath', 'Super Speed',
       'Super Strength', 'Symbiote Costume', 'Technopath/Cyberpath',
       'Telekinesis', 'Telepathy', 'Telepathy Resistance',
       'Teleportation', 'Terrakinesis', 'The Force', 'Thirstokinesis',
       'Time Manipulation', 'Time Travel', 'Toxin and Disease Control',
       'Toxin and Disease Resistance', 'Underwater breathing',
       'Vision - Cryo', 'Vision - Heat', 'Vision - Infrared',
       'Vision - Microscopic', 'Vision - Night', 'Vision - Telescopic',
       'Vision - Thermal', 'Vision - X-Ray', 'Vitakinesis',
       'Wallcrawling', 'Water Control', 'Weapon-based Powers',
       'Weapons Master', 'Weather Control', 'Web Creation',
       'Wind Control'], dtype=object)

In [35]:
# Loop through array of new columns to make and create a new column for each
# Indicate true or false depending on if the value was in Powers
for col in cols_to_make:
    df_power[col] = df_power['Powers'].str.contains(col)

/Users/sheelvohra/opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages/ipykernel_launcher.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  after removing the cwd from sys.path.

In [36]:
df_power = df_power.drop(columns=['Powers'])

In [37]:
df_power.head()

,Name,Accelerated Healing,Adaptation,Agility,Animal Attributes,Animal Control,Animal Oriented Powers,Animation,Anti-Gravity,Astral Projection,...,Vision - Thermal,Vision - X-Ray,Vitakinesis,Wallcrawling,Water Control,Weapon-based Powers,Weapons Master,Weather Control,Web Creation,Wind Control
0,3-D Man,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,Abin Sur,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

# Merge Data

In [39]:
# Merge dataframes on the Name column
df_merge = pd.merge(df_power, df_info, on='Name')